######################################
# Terraform
######################################

.terraform/
.terraform.lock.hcl

terraform.tfstate
terraform.tfstate.*

crash.log

override.tf
override.tf.json

*_override.tf
*_override.tf.json

######################################
# Sensitive Variables
######################################

terraform.tfvars

*.tfvars

######################################
# Environment Variables
######################################

.env

.env.*

######################################
# SSH Keys
######################################

keys/

*.pem

*.pub

######################################
# Logs
######################################

*.log

######################################
# IDE
######################################

.vscode/

.idea/

######################################
# OS Files
######################################

.DS_Store

Thumbs.db

#########################################
# IAM Credentials
#########################################

keys/

*.pem